body {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  background: #070B06;
  color: #D9D9D9;
  padding-top: 40px;
}

a {
  color: unset;
  text-decoration: none;
}

.page-wrapper {
  padding: 0 10px;
}

@media (min-width: 820px) {
  .page-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}